body {
    display: flex;
    align-items: center;
    flex-direction: column;   
}

#gridContainer {   
    width: 600px;
    height: 600px;
    display: flex;  
    flex-wrap: wrap;
    border-style: dashed;
}

.grid {
    background-color: blue;
    outline: solid 1px black;
    outline-offset: -1px;
}

#sizeButton {
    background-color: aqua;
    margin: 10px;
}

